PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.peekkrm.mongodb.net/

N8N_IMAGE_FAST_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/generate-image
N8N_IMAGE_PRO_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/generate-image

N8N_VIDEO_FAST_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/generate-video
N8N_VIDEO_PRO_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/generate-video

N8N_CHATBOT_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/ai-chat

N8N_YOUTUBE_TRANSCRIPTION_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/transcribe-video
N8N_CURRENCY_CONVERTER_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/convert-currency
N8N_TEXT_TO_SPEECH_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/text-to-speech
N8N_AUDIO_TRANSCRIPTION_ENDPOINT=https://cmpunktg6.app.n8n.cloud/webhook/transcribe-audio

API_KEYS_PLACEHOLDER=
